.shop-item-full {
  min-width: 500px;
  padding: 10px;
}
.shop-item-full__img {
  max-width: 100%;
}
.shop-item-full__title {
  color: #628395;
  cursor: pointer;
}
.shop-item-full__price {
  color: #1a1e33;
}
.shop-item-full__description {
  color: #1a1e33;
}