.shop-item {
  padding: 10px;
}
.shop-item__img {
  width: 100%;
  object-fit: contain;
}
.shop-item__title {
  color: #628395;
  cursor: pointer;
}
.shop-item__price {
  color: #1a1e33;
}
.shop-item__description {
  color: #1a1e33;
}
